/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #000, #fff); /* Фон с градиентом сверху вниз */
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Заголовок с градиентом снизу вверх */
#main-header {
    font-size: 6rem; /* Увеличиваем размер текста */
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to top, black, white); /* Градиент снизу вверх */
    color: transparent; /* Делаем текст прозрачным */
    -webkit-background-clip: text; /* Для отображения градиента только на тексте */
    background-clip: text;
    padding: 20px;
    position: fixed; /* Фиксируем заголовок */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    transition: opacity 0.3s ease-out; /* Плавное исчезновение */
}

/* Контейнер для контента */
.main-content {
    padding: 50px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    margin-top: 100px; /* Чтобы контент не был скрыт за фиксированным заголовком */
}

/* Стиль для статей */
.articles article {
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    color: #333;
}

/* Стиль для текста в статьях */
p {
    font-size: 1.2rem;
    color: #666;
}

/* Плавная прокрутка */
html {
    scroll-behavior: smooth;
}
