{% extends "base.html" %}
{% block title %}
NEX
{% endblock %}
{% block content %}
<body class="home-page">
<header id="main-header">
        <h1 id="site-title">N E X</h1>
        <button id="start-btn">НАЧАТЬ</button>
</header>
    <div class="main-content">
        <div class="articles">
            <article>
                <h2>Заголовок статьи 1</h2>
                <p>Содержание статьи 1...</p>
            </article>
            <article>
                <h2>Заголовок статьи 2</h2>
                <p>Содержание статьи 2...</p>
            </article>
            <article>
                <h2>Заголовок статьи 3</h2>
                <p>Содержание статьи 3...</p>
            </article>
        </div>
    </div>
</body>
{% endblock %}
