{% extends "base.html" %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<body>
<h2>Можете связаться с нами(СТРОЧКУ ПЕРЕДЕЛАТЬ. ЗВУЧИТ КАК ХУЙНЯ!)</h2>
<p><a href="mailto:nexteamwe@gmail.com">СОЗДАЙ ЭЛЕКТРОНУЮ ПОЧТУ В КОДЕ ВСЕ ДАННЫЕ</a></p>
</body>
{% endblock %}


nexteamwe@gmail.com
ARABumer_228(пароль)
У меня много почт и они привязаны к номеру и мне не дают из-за этого создать(

Тут Олежа не даёт не из-за количества почт скорее всего, а из-за того, что мы русские. не даёт наши номера регать
другую почту используем какую нибудь, я чуть попозже впишу тут