{% load static %}
<!-- Кнопка  -->
<button id="help-btn">?</button>
    
<!-- Модальное окно -->
<div id="modal">
    <div class="modal-content">
        <h1>О сайте</h1>
        <p>Добро пожаловать на наш сайт новостей, созданных с помощью искусственного интеллекта! Здесь вы найдете уникальные и креативные новостные материалы, которые генерирует нейросеть. Каждый день мы предлагаем свежий поток идей, новостей и статей, чтобы удивить, развлечь и вдохновить вас.</p>
        <p><strong>Предупреждение:</strong> Все представленные материалы на сайте являются результатом работы искусственного интеллекта и носят исключительно развлекательный характер. Совпадения с реальными событиями, личностями или фактами являются случайными. Пожалуйста, относитесь к контенту с долей юмора и критического мышления.</p>
        <button id="close-modal">Закрыть</button>
    </div>
</div>