{% load static %}
<div class="sidebar" id="sidebar">
    <button class="close-btn" id="closeBtn">&times;</button>
    <nav>
        <ul>
            <li><a href="{% url 'nex:index' %}">Главная</a></li>
            <li><a href="{% url 'pages:about' %}">О нас</a></li>
            <li><a href="{% url 'pages:contact' %}">Контакты</a></li>
        </ul>
    </nav>
    <img src={% static 'img/logo.png' %} width="50%" vspace="50%" hspace="25%" align="center">
</div>
<button class="toggle-btn" id="toggleBtn">☰</button>